{% block filterForm %}

        <!-- Filter -->
        <div class="span4 columns">

            <form action="{{ path(generator.route) }}" class="form-stacked" method="get">
                <fieldset>
                    <legend>{{ generator.filter.title | trans }}</legend>
                    {% for fieldName, field in generator.filter.fields %}
                    <div class="clearfix">
                        {{ form_label(filter_form[fieldName], field.label) }}
                        <div class="input">
                            {{ form_widget(filter_form[fieldName]) }}
                        </div>
                    </div>
                    {% endfor %}
                </fieldset>
                <div class="actions">
                    <button type="submit" class="btn primary">{% trans %}Filter{% endtrans %}</button>&nbsp;
                    <a class="btn" href="{{ path(generator.route) }}?filtertype[reset]=1">{% trans %}Reset{% endtrans %}</a>
                </div>
            </form>


{% endblock %}